<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<!-- Block Title  ------------------------------------------------------------->
{% block title %}
	Grupos de usuarios
{% endblock %}

<!-- Block Header ------------------------------------------------------------->
{% block header %}
{% endblock %}

<!-- Block Main - ------------------------------------------------------------->
{% block main %}
	<div class="wrapper">
		
	{% block sidebar %}
		{% include 'sidebar.html' %}
	{% endblock sidebar %}
	
	{% block maincomponent %}
		<div class="main">
		
		{% block buttonsidebartoggle %}
			{% include 'buttonsidebartoggle.html' %}
		{% endblock buttonsidebartoggle %}
		
		{% block principalcomponent %}
			<div class="container">
				<div class="row my-3">
					<div class="col">
						<div class="card">
							<div class="card-header">
								{{ accion }} Grupo
							</div>
		
							<div class="card-body">
								{% if form.errors %}
									<div class="alert alert-danger alert-dismissible fade show mt-3">{{ form.errors }}</div>
								{% endif %}
								<form method="post">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-6">
											<label for="grupo" class="form-label">Nombre del grupo</label>
											<input type="text" class="form-control" id="grupo" name="name" placeholder="Grupo..."
												value="{{ form.name.value | default:'' }}" autocomplete="off">
										</div>
									</div>
									
									<div class="row mt-3">
										
										<div class="col-md-5 mt-3">
											<label for="permisos-disponibles" class="form-label">Permisos Disponibles</label>
											<select class="form-select" multiple name="permisos-disponibles"
												id="permisos-disponibles">
												{% for permiso in permisos_disponibles %}
													<option value="{{ permiso.id }}">{{ permiso.content_type }} - {{ permiso.name }}</option>
												{% endfor %}
											</select>
										</div>
										
										<div class="col-md-1 botones-permisos align-content-center mt-1">
											<!-- Íconos para pantallas grandes -->
											<a id="perm-asignar-todos" class="d-none d-md-block"><i class="bi bi-chevron-double-right"></i></a>
											<a id="perm-asignar-selec" class="d-none d-md-block"><i class="bi bi-chevron-right"></i></a>
											<a id="perm-quitar-selec" class="d-none d-md-block"><i class="bi bi-chevron-left"></i></a>
											<a id="perm-quitar-todos" class="d-none d-md-block"><i class="bi bi-chevron-double-left"></i></a>
											<!-- Íconos para pantallas pequeñas -->
											<a id="perm-asignar-todos-sm" class="d-md-none"><i class="bi bi-chevron-double-down"></i></a>
											<a id="perm-asignar-selec-sm" class="d-md-none"><i class="bi bi-chevron-down"></i></a>
											<a id="perm-quitar-selec-sm" class="d-md-none"><i class="bi bi-chevron-up"></i></a>
											<a id="perm-quitar-todos-sm" class="d-md-none"><i class="bi bi-chevron-double-up"></i></a>
										</div>
												
										<div class="col-md-5 mt-3">
											<label for="permisos_asignados" class="form-label">Permisos Asignados</label>
											<select class="form-select" multiple name="permisos_asignados" id="permisos_asignados">
												{% for permiso in permisos_asignados %}
													<option value="{{ permiso.id }}">{{ permiso.name }}</option>
												{% endfor %}
											</select>
										</div>
										
									</div>
									
									<div class="mt-3">
										<button type="submit" class="btn btn-primary" id="botonGuardar">Guardar</button>
										<a class="btn btn-secondary" href="{% url 'grupo_listar' %}">Salir</a>
									</div>
								</form>
							</div> <!-- /End Body -->
		
							<div class="card-footer text-muted">
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock principalcomponent %}
		
		</div>
	{% endblock maincomponent %}
	
	</div>
{% endblock main %}

<!-- Block Fotter ------------------------------------------------------------->
{% block footer %}
{% endblock footer %}

{% block js_local %}
	{% load static %}
	<script src="{% static 'js/grp_perm.js' %}"></script>
	
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			// Obtener referencias a los selectores.
			let permisosDisponibles = document.getElementById('permisos-disponibles');
			let permisosAsignados = document.getElementById('permisos_asignados');
			
			let botonGuardar = document.getElementById('botonGuardar');
			
			// Asignar eventos a los elementos.
			// Permisos:
			document.getElementById("perm-asignar-todos").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(permisosDisponibles, permisosAsignados);
			});
			document.getElementById("perm-asignar-todos-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(permisosDisponibles, permisosAsignados);
			});
			
			document.getElementById("perm-asignar-selec").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(permisosDisponibles, permisosAsignados);
			});
			document.getElementById("perm-asignar-selec-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(permisosDisponibles, permisosAsignados);
			});
			
			document.getElementById("perm-quitar-selec").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(permisosAsignados, permisosDisponibles);
			});
			document.getElementById("perm-quitar-selec-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosSeleccionados(permisosAsignados, permisosDisponibles);
			});
			
			document.getElementById("perm-quitar-todos").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(permisosAsignados, permisosDisponibles);
			});
			document.getElementById("perm-quitar-todos-sm").addEventListener("click", function (e) {
				e.preventDefault();
				moverElementosTodos(permisosAsignados, permisosDisponibles);
			});
			
			document.getElementById("botonGuardar").addEventListener("click", function () {
				for (var i = 0; i < permisosAsignados.options.length; i++) {
					permisosAsignados.options[i].selected = true;
				}
			});
			
			filtrarAsignados(permisosAsignados, permisosDisponibles);
		});
	</script>
{% endblock js_local %}