<!DOCTYPE html>
{% extends 'base.html' %}

<!-- Block Title  ------------------------------------------------------------->
{% block title %}
	Usuarios
{% endblock %}

<!-- Block Header ------------------------------------------------------------->
{% block header %}
{% endblock %}

<!-- Block Main - ------------------------------------------------------------->
{% block main %}
	<div class="wrapper">
		
		{% block sidebar %}
			{% include 'sidebar.html' %}
		{% endblock sidebar %}
		
		{% block maincomponent %}
			<div class="main">
			
			{% block buttonsidebartoggle %}
				{% include 'buttonsidebartoggle.html' %}
			{% endblock buttonsidebartoggle %}
			
			{% block principalcomponent %}
				<div class="container">
			
					<div class="row mt-5">
						<div class="col col-md-8 col-lg-6 offset-md-2 offset-lg-3">
							<div class="card login-form">
								<div class="card-body">
									<h3 class="card-title text-center">Registro de Usuario</h3>
									<div class="card-text">
										{% if form.errors %}
											<div class="alert alert-danger alert-dismissible fade show">{{ form.errors }}</div>
										{% endif %}
										<form method="post">
											{% csrf_token %}
											<div class="form-group">
												<label for="usuario">Nombre de Usuario</label>
												<input type="text" class="form-control form-control-sm" id="usuario" name="username">
												<ul>
													<li>Campo requerido.</li>
													<li>150 carácteres como máximo. Únicamente letras, dígitos y @/./+/-/_</li>
												</ul>
											</div>
											<div class="form-group">
												<label for="email">Correo electrónico</label>
												<input type="email" class="form-control form-control-sm" id="email" name="email">
												<ul>
													<li>Campo requerido.</li>
													<li>Debe ser un correo válido.</li>
												</ul>
											</div>
											<div class="form-group">
												<label for="password1">Contraseña</label>
												<input type="password" class="form-control form-control-sm" id="password1" name="password1">
												<ul>
													<li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
													<li>Su contraseña debe contener al menos 8 caracteres.</li>
													<li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
													<li>Su contraseña no puede ser completamente numérica.</li>
												</ul>
											</div>
											<div class="form-group">
												<label for="password2">Confirme la Contraseña</label>
												<input type="password" class="form-control form-control-sm" id="password2" name="password2">
											</div>
											<button type="submit" class="btn btn-primary btn-block mt-2">Registrar</button>
											<a href="{% url 'usuario_listar' %}" class="btn btn-secondary mt-2">Cancelar</a>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			{% endblock principalcomponent %}
			
			</div>
		{% endblock maincomponent %}
	
	</div>
{% endblock main %}

<!-- Block Fotter ------------------------------------------------------------->
{% block footer %}
{% endblock footer %}