# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyc
__pycache__/

# Environments
env/
venv/
ENV/

# Django
db.sqlite3
.env
media/
static/

# Migrations
*/migrations/*.py
!*/migrations/__init__.py

# IDEs
.idea/
.vscode/

# Logs
*.log

# Otros
.DS_Store
*.swp

__pycache__/
db.sqlite3
db.sqlite3-journal
*.sqlite3
data/
data_load/
*.rar
*.zip
back/
datavfox/
venv/
migrations/
forms_generado.py
generator_modelsform.py