{% extends 'base.html' %}

<!-- Block Title  ---------------------------------------------------------------------------------------->
{% block title %}
    {% if form.instance.id_persona %}
        Editar Persona
    {% else %}
        Crear Persona
    {% endif %}
{% endblock title %}

<!-- Block Header  ---------------------------------------------------------------------------------------->
{% block header %}

{% endblock header %}

<!-- Block Main - ---------------------------------------------------------------------------------------->
{% block main %}
<div class="wrapper">
    {% block sidebar %}
        {% include 'sidebar.html' %}
    {% endblock %}

    {% block maincomponent %}
    <!-- Main Component Start -->
    <div class="main">
        {% block buttonsidebartoggle %}
            {% include 'buttonsidebartoggle.html' %}
        {% endblock %}

        {% block principalcomponent %}
        <div class="container-fluid">
            <div class="card border-light mb-3 mt-2">
                <div class="card-header text-white bg-primary opacity-75">
                    {% if form.instance.id_persona %}
                        <h3>Editar Persona</h3>
                    {% else %}
                        <h3>Crear Persona</h3>
                    {% endif %}
                </div>

                <div class="card-body bg-body-secondary">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}

                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            {% for section, fields in sections.items() %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ section|slugify }}" aria-expanded="true" aria-controls="{{ section|slugify }}">
                                            <strong>{{ section }}</strong>
                                        </button>
                                    </h2>
                                    <div id="{{ section|slugify }}" class="accordion-collapse collapse show">
                                        <div class="accordion-body bg-secondary-subtle">
                                            <div class="row">
                                                {% for field_info in fields %}
                                                    {% with field=form[field_info.field] %}
                                                        <div class="col-md-{{ field_info.col }}">
                                                            <label for="{{ field.id_for_label }}" class="form-label text-primary">{{ field_info.label }}</label>
                                                            {{ field }}
                                                            <div class="invalid-feedback">
                                                                {{ field.errors }}
                                                            </div>
                                                        </div>
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="container mt-3">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="{% url 'persona_list' %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock main %}
