{% extends 'base.html' %}

<!-- Block Title  ---------------------------------------------------------------------------------------->
{% block title %}
	{% if form.instance.id_persona %}
        Editar Persona
    {% else %}
        Crear Persona
    {% endif %}
{% endblock title %}

<!-- Block Header  ---------------------------------------------------------------------------------------->
{% block header %}

{% endblock header %}

<!-- Block Main - ---------------------------------------------------------------------------------------->
{% block main %}
<div class="wrapper">
    {% block sidebar %}
		{% include 'sidebar.html' %}
    {% endblock %}

    {% block maincomponent %}
    <!-- Main Component Start -->
	<div class="main">
        {% block buttonsidebartoggle %}
			{% include 'buttonsidebartoggle.html' %}
        {% endblock %}

        {% block principalcomponent %}
        <div class="container-fluid">
            <div class="card border-light mb-3 mt-2">
                <div class="card-header text-white bg-primary opacity-75">
                    {% if form.instance.id_persona %}
                        <h3>Editar Persona</h3>
                    {% else %}
                        <h3>Crear Persona</h3>
                    {% endif %}

                </div>

                <div class="card-body bg-body-secondary">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}

                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                    <strong>Información Personal</strong>
                                </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body bg-secondary-subtle">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label for="{{ form.nombre_persona.id_for_label }}" class="form-label text-primary">Nombres</label>
                                                {{ form.nombre_persona }}
                                                <div class="invalid-feedback">
                                                    {{ form.nombre_persona.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <label for="{{ form.apellido_persona.id_for_label }}" class="form-label text-primary">Apellidos</label>
                                                {{ form.apellido_persona }}
                                                <div class="invalid-feedback">
                                                    {{ form.apellido_persona.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <label for="{{ form.fecha_ingreso.id_for_label }}" class="form-label text-primary">Fecha Ingreso</label>
                                                {{ form.fecha_ingreso }}
                                                <div class="invalid-feedback">
                                                    {{ form.fecha_ingreso.errors }}
                                                </div>
                                            </div>
                                            
                                        </div>

                                        <div class="row ">
                                            <div class="col-md-5">
                                                <label for="{{ form.email_persona1.id_for_label }}" class="form-label text-primary">e-MAIL principal</label>
                                                {{ form.email_persona1 }}
                                                <div class="invalid-feedback">
                                                    {{ form.email_persona1.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <label for="{{ form.email_persona2.id_for_label }}" class="form-label text-primary">e-MAIL secundario</label>
                                                {{ form.email_persona2 }}
                                                <div class="invalid-feedback">
                                                    {{ form.email_persona2.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <label for="{{ form.fecha_nacimiento.id_for_label }}" class="form-label text-primary">Fecha Nacim.</label>
                                                {{ form.fecha_nacimiento }}
                                                <div class="invalid-feedback">
                                                    {{ form.fecha_nacimiento.errors }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-md-12">
                                                <label for="{{ form.direccion_persona.id_for_label }}" class="form-label text-primary">Dirección</label>
                                                {{ form.direccion_persona }}
                                                <div class="invalid-feedback">
                                                    {{ form.direccion_persona.errors }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="{{ form.id_pais_telefono.id_for_label }}" class="form-label text-primary">País Teléfono</label>
                                                {{ form.id_pais_telefono }}
                                                <div class="invalid-feedback">
                                                    {{ form.id_pais_telefono.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <label for="{{ form.telefono_persona.id_for_label }}" class="form-label text-primary">Teléfono</label>
                                                {{ form.telefono_persona }}
                                                <div class="invalid-feedback">
                                                    {{ form.telefono_persona.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <label for="{{ form.id_pais_telefmov1.id_for_label }}" class="form-label text-primary">País Teléfono</label>
                                                {{ form.id_pais_telefmov1 }}
                                                <div class="invalid-feedback">
                                                    {{ form.id_pais_telefmov1.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <label for="{{ form.telefmov_persona1.id_for_label }}" class="form-label text-primary">Móvil 1</label>
                                                {{ form.telefmov_persona1 }}
                                                <div class="invalid-feedback">
                                                    {{ form.telefmov_persona1.errors }}
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-2">
                                                <label for="{{ form.id_pais_telefmov2.id_for_label }}" class="form-label text-primary">País Teléfono</label>
                                                {{ form.id_pais_telefmov2 }}
                                                <div class="invalid-feedback">
                                                    {{ form.id_pais_telefmov2.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <label for="{{ form.telefmov_persona2.id_for_label }}" class="form-label text-primary">Móvil 2</label>
                                                {{ form.telefmov_persona2 }}
                                                <div class="invalid-feedback">
                                                    {{ form.telefmov_persona2.errors }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="{{ form.ciudad_residencia.id_for_label }}" class="form-label text-primary">Ciudad Residencia</label>
                                                {{ form.ciudad_residencia }}
                                                <div class="invalid-feedback">
                                                    {{ form.ciudad_residencia.errors }}
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <label for="{{ form.id_pais_residencia.id_for_label }}" class="form-label text-primary" >Pais Residencia</label>
                                                {{ form.id_pais_residencia }}
                                                <div class="invalid-feedback">
                                                    {{ form.id_pais_residencia.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label for="{{ form.codigo_postal.id_for_label }}" class="form-label text-primary">Código Postal</label>
                                                {{ form.codigo_postal }}
                                                <div class="invalid-feedback">
                                                    {{ form.codigo_postal.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label for="{{ form.aeropuerto_cercano.id_for_label }}" class="form-label text-primary">Aeropuerto Cercano</label>
                                                {{ form.aeropuerto_cercano }}
                                                <div class="invalid-feedback">
                                                    {{ form.aeropuerto_origen.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="{{ form.id_pais_nacimiento.id_for_label }}" class="form-label text-primary" >Pais Nacimiento</label>
                                                {{ form.id_pais_nacimiento }}
                                                <div class="invalid-feedback">
                                                    {{ form.id_pais_nacimiento.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label for="{{ form.id_pais_nacionalidad.id_for_label }}" class="form-label text-primary" >Pais Nacionalidad</label>
                                                {{ form.id_pais_nacionalidad }}
                                                <div class="invalid-feedback">
                                                    {{ form.id_pais_nacionalidad.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label for="{{ form.social_security.id_for_label }}" class="form-label text-primary">Social Security</label>
                                                {{ form.social_security }}
                                                <div class="invalid-feedback">
                                                    {{ form.social_security.errors }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                      <strong>Apariencia Personal y Tallas</strong>
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                    <div class="accordion-body bg-secondary-subtle">
                                        <div class="row ">
                                            <div class="col-md-3">
                                                <label for="{{ form.id_color_cabello.id_for_label }}" class="form-label text-primary">Color de Cabello</label>
                                                {{ form.id_color_cabello }}
                                                <div class="invalid-feedback">
                                                    {{ form.id_color_cabello.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label for="{{ form.id_color_ojos.id_for_label }}" class="form-label text-primary">Color de Ojos</label>
                                                {{ form.id_color_ojos }}
                                                <div class="invalid-feedback">
                                                    {{ form.id_color_ojos.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label for="{{ form.estatura.id_for_label }}" class="form-label text-primary">Estatura (pies)</label>
                                                {{ form.estatura }}
                                                <div class="invalid-feedback">
                                                    {{ form.estatura.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <label for="{{ form.peso.id_for_label }}" class="form-label text-primary">Peso (libras)</label>
                                                {{ form.peso }}
                                                <div class="invalid-feedback">
                                                    {{ form.peso.errors }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-md-4">
                                                <label for="{{ form.talla_tshirt.id_for_label }}" class="form-label text-primary">Talla de TShirt</label>
                                                {{ form.talla_tshirt }}
                                                <div class="invalid-feedback">
                                                    {{ form.talla_tshirt.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label for="{{ form.talla_coverall.id_for_label }}" class="form-label text-primary">Talla de Coverall</label>
                                                {{ form.talla_coverall }}
                                                <div class="invalid-feedback">
                                                    {{ form.talla_coverall.errors }}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label for="{{ form.talla_pantalon.id_for_label }}" class="form-label text-primary">Talla de Pantalón</label>
                                                {{ form.talla_pantalon }}
                                                <div class="invalid-feedback">
                                                    {{ form.talla_pantalon.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                      <strong>Información de Contacto en Caso de Emergencia</strong>
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                  <div class="accordion-body bg-secondary-subtle">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <label for="{{ form.nombre_apellidos_contacto.id_for_label }}" class="form-label text-primary">Nombre y Apellidos de Contacto</label>
                                            {{ form.nombre_apellidos_contacto }}
                                            <div class="invalid-feedback">
                                                {{ form.nombre_apellidos_contacto.errors }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-md-4">
                                            <label for="{{ form.id_pais_telefcont.id_for_label }}" class="form-label text-primary">País Teléfono</label>
                                            {{ form.id_pais_telefcont }}
                                            <div class="invalid-feedback">
                                                {{ form.id_pais_telefcont.errors }}
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="{{ form.telefono_contacto.id_for_label }}" class="form-label text-primary">Teléfono Contacto</label>
                                            {{ form.telefono_contacto }}
                                            <div class="invalid-feedback">
                                                {{ form.telefono_contacto.errors }}
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="{{ form.email_contacto.id_for_label }}" class="form-label text-primary">e-Mail Contacto</label>
                                            {{ form.email_contacto }}
                                            <div class="invalid-feedback">
                                                {{ form.email_contacto.errors }}
                                            </div>
                                        </div>

                                    </div>

                                  </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                      <strong>Pasaporte Visa y Documentos de Viaje</strong>
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                  <div class="accordion-body bg-secondary-subtle">
                                    <div class="row ">
                            
                                    </div>
                            
                                  </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                      <strong>Educación</strong>
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                                  <div class="accordion-body bg-secondary-subtle">
                                    <div class="row ">
                            
                                    </div>
                            
                                  </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                      <strong>Formación Técnica</strong>
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                                  <div class="accordion-body bg-secondary-subtle">
                                    <div class="row ">
                            
                                    </div>
                            
                                  </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                      <strong>Información Bancaria</strong>
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                                  <div class="accordion-body bg-secondary-subtle">
                                    <div class="row ">
                            
                                    </div>
                            
                                  </div>
                                </div>
                            </div>
                            
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                      <strong>Otros datos </strong>
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
                                  <div class="accordion-body bg-secondary-subtle">
                                    <div class="row ">
                            
                                    </div>
                            
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="container mt-3">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="{% url 'persona_list' %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>


        </div>

        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock main %}
