{% extends 'maestro_form.html' %}
{% load static %}

{% block maincomponent %}
	{% block principalcomponent %}
    <div id="layoutSidenav_content">
		<main>
            <div class="container-fluid">
                <div class="card border-light mb-3 mt-2">
                    <div class="card-header text-white bg-primary opacity-75 d-flex 
							justify-content-between">
						{{ accion }}
						<button type="button" class="btn-close btn-close-white" 
							aria-label="Close"
							onclick="window.location.href='{% url list_view_name %}'">
						</button>
					</div>
                    
                    <div class="card-body bg-body-secondary">
                        <form class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <!-- Estructura generada -->
                                
                                <!-- Información Personal Inicio -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button aria-controls="Información_Personal" aria-expanded="true" class="accordion-button" data-bs-target="#Información_Personal" data-bs-toggle="collapse" type="button">
                                            <strong>
                                                Información General
                                            </strong>
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse show" id="Información_Personal">
                                        <div class="accordion-body bg-secondary-subtle">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.estatus_color_cabello.id_for_label }}">
                                                        {{ form.estatus_persona_tarifa.label_tag }}
                                                    </label>
                                                    {{ form.estatus_persona_tarifa}}
                                                    <div class="invalid-feedback">
                                                        {{ form.estatus_persona_tarifa.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <label class="form-label text-primary mb-0" for="{{ form.id_persona.id_for_label }}">
                                                        {{ form.id_persona.label_tag }}
                                                    </label>
                                                    {{ form.id_persona }}
                                                    <div class="invalid-feedback">
                                                        {{ form.id_persona.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <label class="form-label text-primary mb-0" for="{{ form.responsable_admin.id_for_label }}">
                                                        {{ form.responsable_admin.label_tag }}
                                                    </label>
                                                    {{ form.responsable_admin }}
                                                    <div class="invalid-feedback">
                                                        {{ form.responsable_admin.errors }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.fecha_tarifa.id_for_label }}">
                                                        {{ form.fecha_tarifa.label_tag }}
                                                    </label>
                                                    {{ form.fecha_tarifa}}
                                                    <div class="invalid-feedback">
                                                        {{ form.fecha_tarifa.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.tarifa_vigente.id_for_label }}">
                                                        {{ form.tarifa_vigente.label_tag }}
                                                    </label>
                                                    {{ form.tarifa_vigente }}
                                                    <div class="invalid-feedback">
                                                        {{ form.tarifa_vigente.errors }}
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label class="form-label text-primary mb-0" for="{{ form.monto_tarifa.id_for_label }}">
                                                        {{ form.monto_tarifa.label_tag }}
                                                    </label>
                                                    {{ form.monto_tarifa }}
                                                    <div class="invalid-feedback">
                                                        {{ form.monto_tarifa.errors }}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="container mt-3">
                                <button class="btn btn-primary" type="submit" id="guardarBtn">
                                    Guardar
                                </button>
                                
                                <a class="btn btn-secondary" href="{% url list_view_name %}">
                                    Cancelar
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {% endblock principalcomponent %}
{% endblock maincomponent %}