<!DOCTYPE html>
{% extends 'base.html' %}

<!-- Block Title  ---------------------------------------------------------------------------------------->
{% block title %}
	CRUD Django
{% endblock title %}

{% block header %}
	{% comment %} {% include 'navbar.html' %} {% endcomment %}
{% endblock header %}

<!-- Block Main - ---------------------------------------------------------------------------------------->
{% block main %}
	<div class="container">
		<div class="card mt-3">
			<div class="card-header text-white bg-secondary">
				Bienvenido!
			</div>
			
			<div class="card-body">
				<h4 class="card-title">Inicio</h4>
				<p class="card-text">Estás en la página principal de la aplicación</p>
				<p class="card-text">Que consta de Maestros, Facturación, Compras</p>
        		<p class="card-text">Más otras utilidades de JavaScript con AJAX</p>
			</div>
			<div class="card-footer text-white bg-secondary">
				{{ fecha }}
			</div>
		</div>
	</div>
{% endblock main %}

<!-- Block Fotter ---------------------------------------------------------------------------------------->
{% block footer %}
{% endblock footer %}