<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">NeuralDevs</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
		  </li>
		  
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Archivos
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="{% url 'listar_clientes' %}">Clientes</a></li>
				<li><a class="dropdown-item" href="#">Proveedores</a></li>
				<li><a class="dropdown-item" href="#">Productos</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="#">Departamentos</a></li>
				<li><a class="dropdown-item" href="#">Provincias</a></li>
				<li><a class="dropdown-item" href="#">Distritos</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="">Combos Relacionados!!!</a></li>
			</ul>
		  </li>

		  <li class="nav-item">
			<a class="nav-link" href="{% url 'facturar' %}">Facturación</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link">Compras</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="http://127.0.0.1:8000/admin/">Admin</a>
		  </li>
		</ul>
		<form class="d-flex" role="search">
		  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
		  <button class="btn btn-outline-success" type="submit">Buscar</button>
		</form>
	  </div>
	</div>
</nav>