{% load static %}
<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>PersonalSYS</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://unpkg.com/bs-brain@2.0.4/components/logins/login-9/assets/css/login-9.css">
		<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
    	<script src="{% static 'js/scripts.js' %}" defer></script>
		<script src="{% static 'js/control_list.js' %}"></script>

		<style>
			{% block style %}
			{% endblock style %}
		</style>
		
		<title>
			{% block title %}
			{% endblock title %}
		</title>
		
		<link 
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
		 	rel="stylesheet"
			integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" 
			crossorigin="anonymous">
		
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
		<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	</head>
	
	<body class="sb-nav-fixed">
		
		{% block header %}
		{% endblock header %}
		
		<div id="layoutSidenav">
			{% block main %}
			
				{% block sidebar %}
				{% endblock sidebar %}
				
				{% block maincomponent %}

					{% block principalcomponent %}
					{% endblock principalcomponent %}
				{% endblock maincomponent %}
			
			{% endblock main %}
		</div>

		{% block modals %}
		{% endblock modals %}
		
		{% block footer %}
		{% endblock footer %}

		{% block script %}
		{% endblock script %}
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
		<script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
		<script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
		<script src="{% static 'js/datatables-simple-demo.js' %}"></script>
	</body>
</html>