{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <!-- <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" /> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
    	<script src="{% static 'js/scripts.js' %}" defer></script>
    </head>

    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">SigcoERP</a>

            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Configuración</a></li>
                        <li><a class="dropdown-item" href="#!">Registro de Actividad</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Panel
                            </a>
                            
                            <div class="sb-sidenav-menu-heading">Ventas</div>
                            
                            <!-- Opciones del Módulo Ventas Start -->

                            <!-- Archivos Start -->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFiles" aria-expanded="false" aria-controls="collapseFiles">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Archivos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>

                            <div class="collapse" id="collapseFiles" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Catálogos
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Productos</a>
                                            <a class="nav-link" href="register.html">Lista de Precios</a>
                                            <a class="nav-link" href="password.html">Agenda</a>
                                            <a class="nav-link" href="password.html">Agenda Choferes</a>
                                        </nav>
                                    </div>

                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Tablas
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">Unidades</a>
                                            <a class="nav-link" href="404.html">Familias</a>
                                            <a class="nav-link" href="500.html">Sub Familias</a>
                                            <a class="nav-link" href="500.html">Marcas</a>
                                            <a class="nav-link" href="500.html">Modelos</a>
                                            <a class="nav-link" href="500.html">Ubicaciones</a>
                                            <a class="nav-link" href="500.html">Códigos SUNAT</a>
                                            <a class="nav-link" href="500.html">Códigos Unidad SUNAT</a>
                                            <a class="nav-link" href="500.html">Colores</a>
                                            <a class="nav-link" href="500.html">Tipos Documento de Identidad</a>
                                            <a class="nav-link" href="500.html">Ubigeos</a>
                                            <a class="nav-link" href="500.html">Formas de Pago</a>
                                            <a class="nav-link" href="500.html">Familias Servicio</a>
                                            <a class="nav-link" href="500.html">Familias Gasto</a>
                                            <a class="nav-link" href="500.html">Familias Activo</a>
                                            <a class="nav-link" href="500.html">Monedas</a>
                                            <a class="nav-link" href="500.html">Tipo de Cambio</a>
                                            <a class="nav-link" href="500.html">Documentos SUNAT</a>
                                            <a class="nav-link" href="500.html">Zonas</a>
                                            <a class="nav-link" href="500.html">Sub Zonas</a>
                                            <a class="nav-link" href="500.html">Caja / Bancos</a>
                                            <a class="nav-link" href="500.html">Países</a>
                                            <a class="nav-link" href="500.html">Personas Cargo</a>
                                            <a class="nav-link" href="500.html">Agendas Rubro</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <!-- Archivos End -->
                            
                            <!-- Procesos Start -->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProcesses" aria-expanded="false" aria-controls="collapseProcesses">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Procesos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            
                            <div class="collapse" id="collapseProcesses" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Ventas
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Pedidos - Venta</a>
                                            <a class="nav-link" href="register.html">Factura</a>
                                            <a class="nav-link" href="password.html">Anular Factura</a>
                                        </nav>
                                    </div>

                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        e-Factura
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html"></a>
                                            <a class="nav-link" href="404.html">e-Factura</a>
                                            <a class="nav-link" href="500.html">e-Punto de Venta</a>
                                            <a class="nav-link" href="500.html">e-Nota de Crédito</a>
                                            <a class="nav-link" href="500.html">e-Nota de Débito</a>
                                            <a class="nav-link" href="500.html">e-Retención</a>
                                            <a class="nav-link" href="500.html">e-Venta Pedidos-</a>
                                            <a class="nav-link" href="500.html">e-Guía de Remisión-</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <!-- Procesos End -->
                            

                            <!-- Informes Start -->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseReports" aria-expanded="false" aria-controls="collapseReports">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Informes
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <!-- Informes Start -->

                            <!-- Opciones Start -->
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOptions" aria-expanded="false" aria-controls="collapseOptions">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Opciones
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <!-- Opciones Start -->

                            
                            


                            <!-- Opciones del Módulo Ventas Start -->

                            <!-- Opciones de Estadísticas Start -->
                            <div class="sb-sidenav-menu-heading">Estadísticas</div>
                            
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Gráficos
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tablas
                            </a>
                            <!-- Opciones de Estadísticas End -->
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Panel</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Módulos</li>
                        </ol>

                        {% comment %} Módulos Start{% endcomment %}
                        <div class="row">
                            <div class="col-xl-2 col-md-3">
                                <div class="card bg-primary bg-opacity-25 text-dark mb-4">
                                    <div class="card-body">Archivo</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-2 col-md-3">
                                <div class="card bg-success bg-opacity-25 text-dark mb-4">
                                    <div class="card-body">Ventas</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-2 col-md-3">
                                <div class="card bg-primary bg-opacity-25 text-dark mb-4">
                                    <div class="card-body">Punto de Venta</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-2 col-md-3">
                                <div class="card bg-success bg-opacity-25 text-dark mb-4">
                                    <div class="card-body">Compras</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-3">
                                <div class="card bg-primary bg-opacity-25 text-dark mb-4">
                                    <div class="card-body">Almacén</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-3">
                                <div class="card bg-success bg-opacity-25 text-dark mb-4">
                                    <div class="card-body">Tesorería</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-blue stretched-link" href="#">Ver Detalles</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %} Módulos End{% endcomment %}

                        {% comment %} Gráficos Start{% endcomment %}
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Ventas del Mes
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Gastos Mensuales
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        {% comment %} Gráficos End{% endcomment %}
                        
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> -->
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
		
		<script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
		<script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
		<script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    </body>
</html>
