{% extends 'base.html' %}
{% load static %}

<!-- Block Header  ---------------------------------------------------------->
{% block header %}
    {% include 'top_nav.html' %}
{% endblock header %}

{% comment %} Block Main {% endcomment %}
{% block main %}
	{% block sidebar %}
		{% include 'sidebar.html' %}
	{% endblock sidebar %}
	
	{% block maincomponent %}
		{% block principalcomponent %}
		{% endblock principalcomponent %}
	{% endblock maincomponent %}
{% endblock main %}

<!-- Block Fotter ---------------------------------------------------------------------------------------->
{% block footer %}
{% endblock footer %}

{% block script %}
{% endblock script %}