<div id="layoutSidenav_nav">
	{% comment %} <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion"> {% endcomment %}
	<nav class="sb-sidenav accordion sb-sidenav-blue" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading">Core</div>
				
				<a class="nav-link" href="{% url 'home' %}">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Panel
				</a>
				
				<div class="sb-sidenav-menu-heading">Ventas</div>
				
				<!-- Opciones del Módulo Ventas Start -->

				<!-- Archivos Start -->
				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFiles" aria-expanded="false" aria-controls="collapseFiles">
					<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
					Archivos
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>

				<div class="collapse" id="collapseFiles" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
					<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
						
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
							Catálogos
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{% url 'persona_list' %}">Personal</a>
								<a class="nav-link" href="{% url 'persona_tarifa_list' %}">Persona Tarifas</a>
								<a class="nav-link" href="{% url 'cliente_list' %}">Cliente</a>
								
							</nav>
						</div>

						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
							Tablas
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{% url 'pais_list' %}">País</a>
								<a class="nav-link" href="{% url 'parentesco_list' %}">Parentesco</a>
								<a class="nav-link" href="{% url 'especialidad_list' %}">Especialidad</a>
								<a class="nav-link" href="{% url 'tipo_documento_identidad_list' %}">Tipo Documento</a>
								<a class="nav-link" href="{% url 'nivel_educativo_list' %}">Nivel Educativo</a>
								<a class="nav-link" href="{% url 'profesion_tecnica_list' %}">Profesión Técnica</a>
								<a class="nav-link" href="{% url 'banco_list' %}">Banco</a>
								{% comment %} <a class="nav-link" href="{% url 'color_list' %}">Color</a> {% endcomment %}
								{% comment %} <a class="nav-link" href="{% url 'color_cabello_list' %}">Color De Cabello</a> {% endcomment %}
							</nav>
						</div>
					</nav>
				</div>
				<!-- Archivos End -->
				
				<!-- Procesos Start -->
				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProcesses" aria-expanded="false" aria-controls="collapseProcesses">
					<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
					Procesos
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				
				<div class="collapse" id="collapseProcesses" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
					<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
						
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
							Proyectos
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="{% url 'proyecto_list' %}">Proyecto</a>
								<a class="nav-link" href="{% url 'detalle_proyecto' %}">Generar</a>
							</nav>
						</div>

						
					</nav>
				</div>
				<!-- Procesos End -->
				

				<!-- Informes Start -->
				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseReports" aria-expanded="false" aria-controls="collapseReports">
					<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
					Informes
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				<!-- Informes End -->

				<!-- Opciones Start -->
				<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOptions" aria-expanded="false" aria-controls="collapseOptions">
					<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
					Opciones
					<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
				</a>
				<!-- Opciones End -->

				<!-- Opciones del Módulo Ventas Start -->

				<!-- Opciones de Estadísticas Start -->
				<div class="sb-sidenav-menu-heading">Estadísticas</div>
				
				<a class="nav-link" href="charts.html">
					<div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
					Gráficos
				</a>
				<a class="nav-link" href="tables.html">
					<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
					Tablas
				</a>
				<!-- Opciones de Estadísticas End -->
			</div>
		</div>
		<div class="sb-sidenav-footer">
			<div class="small">Logged in as:</div>
			Start Bootstrap
		</div>
	</nav>
</div>