<aside id="sidebar">
    <div class="h-100" style="height: 100vh; overflow-y: auto;">
        <div class="sidebar-logo">
            <a href="#">SigcoERP</a>
        </div>

        <!-- Sidebar Navigation Start -->
        <ul class="sidebar-nav">

            <!-- Archivos -->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#archivos"
                    aria-expanded="false" aria-controls="multi">
                    <i class="fa-regular fa-file-lines pe-2"></i>
                    Archivos
                </a>

                <ul id="archivos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <!-- Subnivel 1 - Catálogos -->
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#catalogos" aria-expanded="false" aria-controls="catalogos">
                            Catálogos
                        </a>

                        <ul id="catalogos" class="sidebar-dropdown list-unstyled collapse">
                            <!-- Segundo subnivel - Productos -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Productos</a>
                            </li>
                            <!-- Segundo subnivel - Lista de Precios -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Lista de Precios</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Subnivel 1 - Tablas -->
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#tablas" aria-expanded="false" aria-controls="tablas">
                            Tablas
                        </a>

                        <ul id="tablas" class="sidebar-dropdown list-unstyled collapse">
                            <!-- Tercer subnivel - Categorías -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Categorías</a>
                            </li>
                            <!-- Tercer subnivel - Subcategorías -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Subcategorías</a>
                            </li>
                            <!-- Tercer subnivel - Unidades -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Unidades</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Subnivel 1 - Aperturas -->
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#aperturas" aria-expanded="false" aria-controls="aperturas">
                            Aperturas
                        </a>

                        <ul id="aperturas" class="sidebar-dropdown list-unstyled collapse">
                            <!-- Tercer subnivel - Inventario -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Inventario</a>
                            </li>
                            <!-- Tercer subnivel - Cuentas por Cobrar -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Cuentas por Cobrar</a>
                            </li>
                            <!-- Tercer subnivel - Cuentas por Pagar -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Cuentas por Pagar</a>
                            </li>

                            <!-- Tercer subnivel - Saldos -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Saldos</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            
             <!-- Procesos -->
             <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#procesos"
                    aria-expanded="false" aria-controls="multi">
                    <i class="fa-regular fa-file-lines pe-2"></i>
                    Procesos
                </a>

                <ul id="procesos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <!-- Subnivel 1 - Catálogos -->
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#almacen" aria-expanded="false" aria-controls="almacen">
                            Almacen
                        </a>

                        <ul id="almacen" class="sidebar-dropdown list-unstyled collapse">
                            <!-- Segundo subnivel - Guia Ingreso -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Guia Ingreso</a>
                            </li>
                            <!-- Segundo subnivel - Guia Salida -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Guia Salida</a>
                            </li>
                            <!-- Segundo subnivel - Guia Transferenci -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Guia Transferencia</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Subnivel 1 - Tablas -->
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#compras" aria-expanded="false" aria-controls="compras">
                            Compras
                        </a>

                        <ul id="compras" class="sidebar-dropdown list-unstyled collapse">
                            <!-- Tercer subnivel - Orden Compra -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Orden Compra</a>
                            </li>
                            <!-- Tercer subnivel - Factura Compra -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Factura Compra</a>
                            </li>
                            <!-- Tercer subnivel - Factura Vinculada -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Factura Vinculada</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Subnivel 1 - Ventas -->
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#ventas" aria-expanded="false" aria-controls="ventas">
                            Ventas
                        </a>

                        <ul id="ventas" class="sidebar-dropdown list-unstyled collapse">
                            <!-- Tercer subnivel - Pedido Venta -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Pedido Venta</a>
                            </li>
                            <!-- Tercer subnivel - Facturación -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Facturación</a>
                            </li>
                            <!-- Tercer subnivel - Anular Factura -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Anular Factura</a>
                            </li>

                            <!-- Tercer subnivel - Proforma -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Proforma</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Subnivel 1 - e-Factura -->
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#efactura" aria-expanded="false" aria-controls="efactura">
                            e-Factura
                        </a>

                        <ul id="efactura" class="sidebar-dropdown list-unstyled collapse">
                            <!-- Tercer subnivel - e-Factura -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">e-Factura</a>
                            </li>
                            <!-- Tercer subnivel - e-Punto Venta -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">e-Punto Venta</a>
                            </li>
                            <!-- Tercer subnivel - e-Nota Crédito -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">e-Nota Crédito</a>
                            </li>

                            <!-- Tercer subnivel - e-Nota Débito -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">e-Nota Débito</a>
                            </li>

                            <!-- Tercer subnivel - e-Retención -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">e-Retención</a>
                            </li>

                            <!-- Tercer subnivel - e-Venta Pedidos -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">e-Venta Pedidos</a>
                            </li>

                            <!-- Tercer subnivel - e-Guia Remisión -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">e-Guia Remisión</a>
                            </li>

                            <!-- Tercer subnivel - CPE - SUNAT -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">CPE - SUNAT</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Subnivel 1 - Producción -->
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#produccion" aria-expanded="false" aria-controls="produccion">
                            Producción
                        </a>

                        <ul id="produccion" class="sidebar-dropdown list-unstyled collapse">
                            <!-- Tercer subnivel - Vale de Salida -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Vale de Salida</a>
                            </li>
                            <!-- Tercer subnivel - Ingreso de Producción -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Ingreso de Producción</a>
                            </li>
                            <!-- Tercer subnivel - Lotes -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Lotes</a>
                            </li>

                            <!-- Tercer subnivel - Conceptos -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Conceptos</a>
                            </li>

                            <!-- Tercer subnivel - Operaciones -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Operaciones</a>
                            </li>

                            <!-- Tercer subnivel - Fórmulas -->
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Fórmulas</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>

            <!-- Informes -->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#informes"
                    aria-expanded="false" aria-controls="pages">
                    <i class="fa-regular fa-window-restore pe-2"></i>
                    Informes
                </a>
                <ul id="informes" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Pedidos</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Facturación</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Compras</a>
                    </li>
                </ul>
            </li>

            <!-- Dashboard -->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard"
                    aria-expanded="false" aria-controls="dashboard">
                    <i class="fa-solid fa-sliders pe-2"></i>
                    Dashboard
                </a>
                <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Dashboard Analytics</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Dashboard Ecommerce</a>
                    </li>
                </ul>
            </li>

            <!-- Configuracion -->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-gear pe-2"></i>
                    Configuración
                </a>
            </li>

            <!-- Usuario -->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#configuracion"
                    aria-expanded="false" aria-controls="auth">
                    <i class="fa-regular fa-user pe-2"></i>
                    Usuario
                </a>
                <ul id="configuracion" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Perfil</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Iniciar Sesión</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Cerrar</a>
                    </li>
                </ul>
            </li>
            
        </ul>
        <!-- Sidebar Navigation End -->
    </div>
</aside>